asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
bootstrap4==0.1.0
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.2
cryptography==41.0.7
defusedxml==0.8.0rc2
dj-database-url==2.1.0
Django==4.2
django-bootstrap-form==3.4
django-bootstrap4==24.1
django-crispy-forms==2.1
django-environ==0.11.2
django-social-auth==0.7.28
firebase-admin==6.5.0
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.15.0
google-cloud-storage==2.15.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==21.2.0
httplib2==0.22.0
idna==3.6
msgpack==1.0.8
oauth2==1.9.0.post1
oauthlib==3.2.2
packaging==24.0
paypalrestsdk==1.13.3
pillow==10.2.0
pkg_resources==0.0.0
proto-plus==1.23.0
protobuf==5.26.0
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-decouple==3.8
python-openid==2.2.5
python3-openid==3.2.0
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.4.0
rsa==4.9
six==1.16.0
social-auth-app-django==5.4.0
social-auth-core==4.5.3
soupsieve==2.5
sqlparse==0.4.4
stripe==8.7.0
typing_extensions==4.10.0
uritemplate==4.1.1
urllib3==2.2.1
