{% extends 'courier/base.html' %} 

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap&libraries=places&v=weekly)" defer></script>
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: { lat: -1.286389, lng: 36.817223 }, // Nairobi coordinates
        });

        // Fetch available jobs via API
        fetch("{% url 'courier:available_jobs_api' %}")
            .then(response => response.json())
            .then(json => {
                // Create a new viewpoint bounds
                var bounds = new google.maps.LatLngBounds();

                json.jobs.forEach(job => {
                    const position = { lat: job.pickup_lat, lng: job.pickup_lng };
                    const marker = new google.maps.Marker({
                        position: position,
                        map: map,
                    });

                    // Increase the bounds to include this position
                    bounds.extend(position);

                    const contentString = `<div><b>${job.name}</b><br/><small>${job.distance} Km</small></div>`;
                    const infoWindow = new google.maps.InfoWindow({
                        content: contentString,
                    });

                    marker.addListener("click", () => {
                        infoWindow.open(map, marker);
                        showJobDetails(job);
                    });
                });

                // Fit the map to the bounds after all markers are added
                map.fitBounds(bounds);
            })
            .catch(error => {
                console.error('Error fetching available jobs:', error);
            });
    }

    function showJobDetails(job) {
        // Show job details in the card
        $("#job-details").css("display", "block");
        $("#job-name").text(job.name);
        $("#job-photo").attr("src", "/media" + job.photo);
        $("#pickup-address").text(job.pickup_address);
        $("#delivery-address").text(job.delivery_address);
        $("#duration").text(job.duration);
        $("#distance").text(job.distance);
        $("#price").text(job.price);
    }

    // Reload the page when receiving a message
    messaging.onmessage((payload) => {
        window.location.reload();
    });
</script>
<style>
    /* Hide the gm-ui-hover-effect element */
    .gm-ui-hover-effect {
        display: none !important;
    }

    /* Styling for the map container */
    #map {
        height: 400px;
        margin-bottom: 20px;
    }

    /* Styling for small elements */
    small {
        font-size: 12px;
        line-height: 1.2rem;
    }

    /* Remove border from all cards */
    .card {
        border: none;
    }

    /* Hide the job-details element */
    #job-details {
        display: none;
    }

    /* Style the media container within #job-details */
    #job-details .media {
        margin-top: 10px;
    }

    /* Style the image within the media container */
    #job-details .media img {
        border: 1px solid #ccc;
        border-radius: 6px;
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100" style="padding-bottom: 60px;">
    <div id="map"></div>

    <div id="job-details" class="card">
        <div class="card-body p-2">
            <div class="media">
                <img id="job-photo" class="rounded-lg mr-3" width="50px" height="50px">
                <div class="media-body">
                    <b id="job-name"></b>
                    
                    <div class="d-flex">
                        <div class="flex-grow-1 mr-2">
                            <small class="text-success">
                                <i class="fas fa-car"></i><span id="distance"></span> Km
                                <i class="far fa-clock ml-2"></i><span id="duration"></span> Mins
                            </small>

                            <div class="d-flex align-items-center mt-2">
                                <i class="fas fa-map-marker-alt"></i>
                                <small id="pickup-address" class="text-secondary ml-2"></small>
                            </div>

                            <div class="d-flex align-items-center mt-2">
                                <i class="fas fa-flag-checkered"></i>
                                <small id="delivery-address" class="text-secondary ml-2"></small>
                            </div>
                            <h3 id="price">Ksh. <span></span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'courier/bottom_tabs.html' %}
</div>
{% endblock %}
