{% extends 'courier/base.html' %} 

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&callback=initMaps&libraries=places&v=weekly" defer></script>
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: { lat: 41.85, lng: -87.65 },
        });
    
        // Fetch available jobs via API
        fetch("{% url 'courier:available_jobs_api' %}")
            .then(response => response.json())
            .then(json => {
                // console.log(json);
    
                // Create a new viewpoint bounds
                var bounds = new google.maps.LatLngBounds();
    
                json.jobs.forEach(job => {
                    const position = { lat: job.pickup_lat, lng: job.delivery_lng };
                    const marker = new google.maps.Marker({
                        position,
                        map,
                    });
    
                    // Increase the bounds to take this anchorPoint
                    bounds.extend(position);
    
                    new google.maps.InfoWindow({
                        content: `<small><b>${job.name}</b></small><br/><small>${job.distance} Km</small>`
                    }).open(map, marker);
    
                    // Click event for each Job
                    marker.addListener("click", () => {
                        showJobDetails(job);
                    });
                });
    
                // Fit these bounds to the map after all markers are added
                map.fitBounds(bounds);
            });
    }
    
    function showJobDetails(job) {
        // Your function to show job details
        $("#job-details")
            .css("display", "block")
            .on("click", function () {
                window.location.href = `/courier/jobs/available/${job.id}`;
            });
    
        $("#job-name").html(job.name);
        $("#job-photo").attr("src", "/media" + job.photo);
        $("#pickup-address").html(job.pickup_address);
        $("#delivery-address").html(job.delivery_address);
        $("#duration").html(job.duration);
        $("#distance").html(job.distance);
        $("#price").html(job.price);
    }
    
    
     
    
</script>

<style>
    .gm-ui-hover-effect{
        display: none !important;
    }
    #map {
        flex: 1;
    }
    small {
        font-size: 12px;
        line-height:1.2 rem
    }
    .card{
        border:none;
    }
    #job-details{
        display:none;
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100" style="padding-bottom:60px">
    <div id="map"></div>

    <div id="job-details" class="card">
        <div class="card-body p-2">
            <div class="media">
                <img id="job-photo" class="rounded-lg mr-3" width="50px" height="50px">
                <div class="media-body">
                    <b id="job-name"></b>
                    
                    <div class="d-flex">
                        <div class="flex-grow-1 mr-2">
                            <small class="text-success">
                                <i class="fas fa-car"></i><span id="distance"></span> Km
                                <i class="far fa-clock ml-2"></i><span id="duration"></span> Mins
                            </small>

                            <div class="d-flex align-items-center mt-2">
                                <i class="fas fa-map-marker-alt"></i>
                                <small id="pick-address" class="text-secondary ml-2"></small>
                            </div>

                            <div class="d-flex align-items-center mt-2">
                                <i class="fas fa-flag-checkered"></i>
                                <small id="delivery-address" class="text-secondary ml-2"></small>
                            </div>
                            Ksh.<h3 id="price">Price</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'courier/bottom_tabs.html' %}
</div>
{% endblock %}
