{% extends 'courier/base.html' %}

{% block head %}
<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: #FFC106; /* Corrected color format */
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}

{% block content %} <!-- Corrected block name to 'content' -->
<div class="header">
    <a href="{% url 'courier:available_jobs' %}" class="mr-2">
        <i class="fas fa-chevron-left text-dark"></i>
    </a>
    <h5 class="mt-1 mb-0">Available Jobs</h5>
</div>
{% endblock %}
