<style>
    .bottom-tabs {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        background-color: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .bottom-tabs > a {
        flex: 1;
        padding: 5px;
        color: #BFBFBF;  /* Corrected property name to color */
        text-decoration: none;
    }

    .bottom-tabs > a > span {
        font-size: 13px;
        font-weight: bold;
        display: block;
    }

    .bottom-tabs > a > i {
        font-size: 20px;
    }

    .bottom-tabs > a.active {
        color: #FFC106;
    }
</style>

{% url 'courier:available_jobs' as available_jobs_url %}
{% url 'courier:current_job' as current_job_url %}

<div class="bottom-tabs d-flex">
    <a href="{% url 'courier:available_jobs' %}" class="active">
        <i class="fas fa-map-marked-alt"></i>
        <span>Available Jobs </span>
    </a>
    <a href="{% url 'courier:current_job' %}">
        <i class="fas fa-archive"></i>
        <span>My Jobs </span>
    </a>
    <a href="#">
        <i class="fas fa-user"></i>
        <span>Profile </span>
    </a>
</div>
