{% extends 'courier/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'js/webcam-easy.min.js' %}"></script>
    <style>
        body {
            background-color: black;
        }

        .btn-back {
            position: fixed;
            top: 30px;
            left: 30px;
        }

        .buttons {
            position: fixed;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
        }

        .photo-step {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        video {
            width: 100%;
            height: auto;
        }

        #upload-step {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'courier/includes/job_details.html' with job=job %}

    <div id="upload-step" class="photo-step">
        <img id="photo">
        <div class="buttons">
            <a id="retake-button" class="btn btn-light" href="javascript:void(retakePhoto())">Retake</a>
            
            {% if job and job.id %}
                <a id="upload-button" class="btn btn-warning" href="{% url 'courier:current_job_take_photo' job.id %}">
                    Upload {% if job.status == 'picking' %}Pickup{% else %}Drop-off{% endif %} Photo
                </a>
            {% else %}
                <p>Job ID is not available or empty. Unable to generate the URL.</p>
            {% endif %}
        </div>
    </div>
    
    <div id="take-photo-step" class="photo-step">
        <video id="webcam" autoplay playsinline></video>
        <canvas id="canvas" class="d-none"></canvas>
    
        {% if job and job.id %}
            <a href="{% url 'courier:current_job' job.id %}" class="btn-back">
                <i class="fas fa-chevron-left text-light"></i>
            </a>
        {% else %}
            <p>Job ID is not available or empty. Unable to generate the URL.</p>
            <p>Debug: {{ job }}</p>
        {% endif %}
    
        <div class="button">
            <a href="javascript:void(takePhoto())" class="btn btn-warning">
                Take {% if job.status == 'picking' %}Pickup{% else %}Drop-off{% endif %} Photo
            </a>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const webcam = new Webcam(document.getElementById('webcam'), document.getElementById('canvas'));
            webcam.start();
        
            function takePhoto() {
                const picture = webcam.snap();
                document.getElementById('photo').src = picture;
                hideTakePhotoStep();
                showUploadStep();
            }
        
            function retakePhoto() {
                hideUploadStep();
                showTakePhotoStep();
            }
        
            function hideTakePhotoStep() {
                document.getElementById('take-photo-step').style.display = 'none';
            }
        
            function showUploadStep() {
                document.getElementById('upload-step').style.display = 'flex';
            }
        
            function showTakePhotoStep() {
                document.getElementById('take-photo-step').style.display = 'flex';
                document.getElementById('upload-step').style.display = 'none';
            }
        
            document.getElementById('take-photo-button').addEventListener('click', takePhoto);
            document.getElementById('retake-button').addEventListener('click', retakePhoto);
        });
    </script>
{% endblock %}
