   {% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
    <style>
        #pills-tab a {
            color: black;
        }

        #pills-tab a:hover {
            color: orange;
            text-decoration: none;
        }

        #pills-tab a:active {
            color: orange;
        }

        #pickup-map {
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {# LEFT SIDE #}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        JOB SUMMARY
                    </div>
                    <div class="card-body">
                        <p>A summary of your Jobs will Appear here</p>
                    </div>
                </div>
            </div>

            {# RIGHT SIDE #}
            <div class="col-lg-8">
                {# Step Tabs #}
                <div class="card mb-5">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-justified align-items-center mb-3" id="pills-tab" role="tablist">
                            <i class="fas fa-chevron-right"></i>
                            <li class="nav-item" role="presentation">
                                <a class="{% if step == 1 %}active{% endif %}" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab"
                                   aria-controls="pills-info" aria-selected="true">Item Info</a>
                            </li>
                            <i class="fas fa-chevron-right"></i>
                            <li class="nav-item" role="presentation">
                                <a class="{% if step == 2 %}active{% endif %}" data-toggle="pill" href="#pills-pickup" role="tab"
                                   aria-controls="pills-pickup" aria-selected="false">Pickup</a>
                            </li>
                            <i class="fas fa-chevron-right"></i>
                            <li class="nav-item" role="presentation">
                                <a class="{% if step == 3 %}active{% endif %}" data-toggle="pill" href="#pills-delivery" role="tab"
                                   aria-controls="pills-delivery" aria-selected="false">Delivery</a>
                            </li>
                            <i class="fas fa-chevron-right"></i>
                            <li class="nav-item" role="presentation">
                                <a class="{% if step == 4 %}active{% endif %}" data-toggle="pill" href="#pills-payment" role="tab"
                                   aria-controls="pills-payment" aria-selected="false">Payment</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <b>CREATE A JOB</b>
                <div class="tab-content" id="pills-tabContent">
                    {% if step == 1 %}
                        <div class="tab-pane fade {% if step == 1 %}show active{% endif %}" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                            <h1>Item Info</h1>
                            <form method="POST" enctype="multipart/form-data">
                                <b class="text-secondary">Item Information</b>
                                <div class="card bg-white mt-2 mb-5">
                                    <div class="card-body">
                                        {% csrf_token %}
                                        {% bootstrap_form step1_form %}
                                    </div>
                                </div>
                                <input type="hidden" name="step" value="1">
                                <button type="submit" class="btn btn-warning">Save & Continue</button>
                            </form>
                        </div>
                    {% elif step == 2 %}
                        <div class="tab-pane fade {% if step == 2 %}show active{% endif %}" id="pills-pickup" role="tabpanel" aria-labelledby="pills-pickup-tab">
                            <h1>Pickup</h1>
                            <form method="POST" enctype="multipart/form-data">
                                <b class="text-secondary">Pickup Information</b>
                                <div class="card bg-white mt-2 mb-5">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                {% csrf_token %}
                                                {% bootstrap_form step2_form %}
                                                <input hidden id="pickup_lat" name="pickup_lat" value={{ job.pickup_lat }}>
                                                <input hidden id="pickup_lat" name="pickup_lng" value={{ job.pickup_lng }}>
                                            </div>
                                            <div class="col-lg-4">
                                                <div id="pickup-map"></div>
                                                <div id="infowindow-content">
                                                    <img src="" width="16" id="placeicon"/>
                                                    <span id="place-name" class="title"></span><br/>
                                                    <span id="place-address"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="step" value="2">
                                <button type="button" class="btn btn-outline-warning" onclick="$('#pills-info-tab').tab('show')">Back</button>
                                <button type="submit" class="btn btn-warning">Save & Continue</button>
                            </form>
                        </div>
                    {% elif step == 3 %}
                        <div class="tab-pane fade {% if step == 3 %}show active{% endif %}" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab">
                            <h1>Delivery</h1>
                                <form method="POST" enctype="multipart/form-data">
                                    <b class="text-secondary">Delivery Information</b>
                                    <div class="card bg-white mt-2 mb-5">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    {% csrf_token %}
                                                    {% bootstrap_form step3_form %}
                                                    <input hidden id="delivery_lat" name="pickup_lat" value={{ job.pickup_lat }}>
                                                    <input hidden id="delivery_lng" name="delivery_lng" value={{ job.delivery_lng }}>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div id="delivery-map"></div>
                                                    <div id="infowindow-content">
                                                        <img src="" width="16" id="placeicon"/>
                                                        <span id="place-name" class="title"></span><br/>
                                                        <span id="place-address"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="step" value="3">
                                    <button type="button" class="btn btn-outline-warning" onclick="$('#pills-info-tab').tab('show')">Back</button>
                                    <button type="submit" class="btn btn-warning">Save & Continue</button>
                                </form>
                            </div>
                        </div>
                    {% elif step == 4 %}
                    <div class="tab-pane fade {% if step == 4 %}show active{% endif %}" id="pills-pickup" role="tabpanel" aria-labelledby="pills-payment">
                        <h1>Payment</h1>
                    
                        <form method="POST">
                            <b class="text-secondary">Payment Method</b>
                            <div class="card bg-white mt-2 mb-5">
                                <div class="card-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Your Credit/Debit Card</label>
                                        <input class="form-control" value="**** **** **** {{ request.user.customer.stripe.card.last4 }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input class="form-control" value="Ksh.{{ job.price }}" disabled>
                                    </div>
                                </div>
                            </div>
                    
                            <input type="hidden" name="step" value="4">
                            <button type="button" class="btn-outline-warning" onclick="$('#pills-delivery-tab').tab('show');">Back</button>
                            <button type="submit" class="btn btn-warning">Create Job</button>
                        </form>
                    </div>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById("pickup-map"),{
                center: { lat: -33.8688, lng:151.2195},
                zoom:13,
            });

            const input = document.getElementById("id_pickup_address");
            const autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.bindTo("bounds",map);

            autocomplete.selfFieds(["address_components","geometry","icon","name"]);
            const infowindow = new google.mapsInfoWindow();
            const infowindowContent = document.getElementById("infowindow-content");
            infowindow.setContent(infowindowContent);
            const marker = new google.maps.Marker({
                map,
                anchorPoint:new google.maps.Point(0, -29),

            });
            autocomplete.addListner("place_changed",() => {
                inforwindow.close();
                marker.setvisible(false);
                const place = autocomplete.getPlace();

                if (!place.geometry) {

                    window.alert("No details available for input " + place.name + "'");
                    return;
                }

                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
                let address = "";

                if (place.address_components){
                    address = [
                    (place.address_components)[0] &&
                    (place.address_components[0].short_name) ||
                    "",
                    (place.address_components [1] &&
                    place.address_components[1].short_name 
                    )
                    ]
                }
            });
        }
    </script>
{% endblock %}



