{% extends 'customer/base.html' %}

{% block head %}
    <script src="https://js.stripe.com/v3"></script>
    <style>
        .StripeElement {
            height: 40px;
            padding: 10px 12px;
            width: 100%;
            color: #32325d;
            background-color: white;
            border: 1px solid #cfd7df;
            border-radius: 4px;
        }

        .StripeElement-focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 25);
        }

        .StripeElement-invalid {
            border-color: #fa755a;
        }

        .StripeElement-webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
{% endblock %}

{% block main %}
    {% if not request.user.customer.stripe_payment_method_id %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Let's add your Credit or Debit card to <strong>Create a Job</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <b class="text-secondary">Your Credit/Debit Card</b>

    <div class="card bg-white mt-2 mb-5">
        <div class="card-body">
            {% if request.user.customer.stripe_payment_method_id %}
                <div id="change-card" class="input-group">
                    <input type="text" class="form-control"
                           value="************{{ request.user.customer.stripe_card_last4 }}">
                    <div class="input-group-append">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
            {% endif %}

            <form id="setup-form" data-secret="{{ client_secret }}" method="POST" class="needs-validation">
                {% csrf_token %}
                {% if not request.user.customer.stripe_payment_method_id %}
                    <div class="form-group">
                        <label for="card-element">Card Details</label>
                        <div id="card-element" class="form-control"></div>
                        <div class="invalid-feedback">Please enter valid card details.</div>
                    </div>
                    <div id="card-button-container">
                        <button class="btn btn-warning mt-3" type="button" id="card-button">Save Card</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    {% if not request.user.customer.stripe_payment_method_id %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var stripe = Stripe("{{ STRIPE_API_PUBLIC_KEY }}");
                var elements = stripe.elements();
                var cardElement = elements.create('card');
                cardElement.mount('#card-element');

                var setupForm = document.getElementById('setup-form');

                if (setupForm) {
                    var cardButtonContainer = document.getElementById('card-button-container');
                    var cardButton = document.getElementById('card-button');

                    cardButton.addEventListener('click', function (ev) {
                        stripe.confirmCardSetup(
                            '{{ client_secret }}',
                            {
                                payment_method: {
                                    card: cardElement,
                                },
                            },
                        ).then(function (results) {
                            if (results.error) {
                                // Display error.message in UI
                                alert(results.error.message);
                            } else {
                                // The setup has succeeded. Display a success message.
                                alert("Payment method is added successfully");
                                window.location.reload();
                            }
                        });
                    });

                    // Client-side form validation
                    setupForm.addEventListener('submit', function (event) {
                        if (!setupForm.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        setupForm.classList.add('was-validated');
                    });
                }
            });
        </script>
    {% endif %}
{% endblock %}
