{% extends 'customer/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <b class="text-secondary">Basic Information</b><br/>
    <div class="card bg-white mt-3 mb-5">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {% crispy user_form %}
                {% crispy customer_form %}
                <input type="hidden" name="action" value="update_profile">
                <button type="submit" class="btn btn-warning mt-3">Save</button>
            </form>
        </div>
    </div>

    <b class="text-secondary">Change Password</b><br/>
    <div class="card bg-white mt-4 mb-5">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {% crispy password_form %}
                <input type="hidden" name="action" value="update_password">
                <button type="submit" class="btn btn-warning mt-3">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
