<!DOCTYPE html>
<html lang="en">
    {% load bootstrap4 %}
    {% load static %} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yanzi Parcels</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    
    {% comment %} {% load crispy_forms_tags %} {% endcomment %}
    {% load bootstrap4 %}
    {% load static %}
    <style>
        body {
            font-family: 'Catamaran', sans-serif;
        }
    </style>

    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-warning">
        <a class="navbar-brand" href="/">Yanzi Parcels</a>

        {% if not request.user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courier</a>
                </li>
            </ul>
        </div>

        {% else %}
        <form class="form-inline ml-auto">
            <span class="mt-4">{{ request.user.get_full_name|title }}</span>
            <a href="/sign-out" class="btn btn-outline-dark">Sign Out</a>
        </form>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}

    <footer class="text-center mt-5 mb-5">
        &copy; Created by Kwepo
    </footer>

    <!-- Include BooToast scripts and styles -->
    <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

    <!-- Script to show toasts -->
    <script>
        function toast(message, type) {
            bootoast.toast({
                position: 'leftBottom',
                message: message,
                type: type,
            });
        }

        {% if messages %}
        {% for message in messages %}
        toast('{{ message }}', '{{ message.tags }}');
        {% endfor %}
        {% endif %}
    </script>
</body>

</html>
