<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yanzi Parcels</title>
    {% load bootstrap4 %}
    {% bootstrap_css %} 
    {% bootstrap_javascript jquery='full' %}

    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-warning">
        <a class="navbar-brand" href="/">Yanzi Parcels</a>

        {% if not request.user.is_aunthenticated %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courier</a>
                </li>
            </ul>
        </div>

        {% else %}
        <form class="form-inline">
            <span class="mt-4">{{request.user.get_full_name|title}}</span>
            <a href="/sign-out" class="btn btn-outline-dark">Sign Out</a>
        </form>

        {% endif %}
    </nav>

   {% block content%}{% endblock %}


    <footer class="text-center mt-5 mb-5">
        &copy;Kwepo
    </footer>

</body>

</html>
