{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center mt-5 mb-5">Welcome to Yanzi Parcels</h1>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CUSTOMER</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/customer/" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">COURIER</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/courier" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}





