{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center mt-5 mb-5">Welcome to Yanzi Parcels</h1>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-center">
                <div class="card-img-top-wrapper justify-content-center align-items-center">
                    <img src="{% static 'img/Customer.png' %}" class="card-img-top" alt="Courier Image" style="width: 150px; height: auto;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CUSTOMER</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'customer:home' %}" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
        

        <div class="col-lg-6 mb-4">
            <div class="card text-center">
                <div class="card-img-top-wrapper d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/Courier.png' %}" class="card-img-top" alt="Courier Image" style="width: 150px; height: auto;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">COURIER</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'courier:home' %}" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}





