{% extends 'base.html' %}
{% load static %}

{% block content %}
{% comment %} <button onclick="toggleDarkMode()" style="position: fixed; top: 10px; right: 10px; background-color: black; color: white; background-image: url('{% static "img/darkmode.png" %}'); background-size: cover; width: 40px; height: 40px;"></button> {% endcomment %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5 text-center">
            <h1>Welcome to Yanzi Parcels</h1>
            <p id="current_datetime">Current Date and Time: {{ current_datetime|date:"F d, Y H:i:s" }}</p>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-center">
                <div class="card-img-top-wrapper justify-content-center align-items-center">
                    <img src="{% static 'img/Customer.png' %}" class="card-img-top" alt="Courier Image" style="width: 150px; height: auto;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CUSTOMER</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'customer:home' %}" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 mb-4">
            <div class="card text-center">
                <div class="card-img-top-wrapper d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/Courier.png' %}" class="card-img-top" alt="Courier Image" style="width: 150px; height: auto;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">COURIER</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'courier:home' %}" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
        
    </div>
</div>


<script>
    // Function to toggle dark mode
    function toggleDarkMode() {
        const body = document.body;
        body.classList.toggle('dark-mode');

        // Save dark mode preference in localStorage
        const isDarkMode = body.classList.contains('dark-mode');
        localStorage.setItem('darkMode', isDarkMode);
    }

    // Function to update date and time
    function updateDateTime() {
        const now = new Date();
        const formattedDatetime = `${now.toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false })}`;
        document.getElementById('current_datetime').textContent = formattedDatetime;
    }

    // Update date and time every second
    setInterval(updateDateTime, 1000);
    // Initial update
    updateDateTime();

    // Check and apply dark mode preference
    document.addEventListener('DOMContentLoaded', () => {
        const storedDarkMode = localStorage.getItem('darkMode');
        if (storedDarkMode && storedDarkMode === 'true') {
            document.body.classList.add('dark-mode');
        }
    });
</script>

{% endblock %}
