{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card-body">
                <h4 class="text-center text-uppercase mb-3">
                    <b>
                        {% if request.GET.next != '/courier' %}
                        Customer
                        {% else %}
                        Courier
                        {% endif %}
                    </b>
                </h4>

                <form method="POST">
                    {% csrf_token %}
                    
                    <!-- Replace form rendering with Crispy Forms syntax -->
                    {{ form|crispy }}
                    
                    <button type="submit" class="btn btn-warning btn-block">Sign Up</button>
                    <p class="text-center mt-3">
                        Already have an Account? <a href="/sign-in/next={{ request.GET.next }}"><b>Sign In</b></a>
                    </p>
                    <hr>
                    <a href="{% url 'social:begin' 'google-oauth2'%}?next={{ request.GET.next }}"
                        class="btn btn-outline-primary btn-block">Sign In With Facebook</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
